In [1]:
import pandas as pd

In [2]:
df_tweets = pd.read_csv('power outage-5k-tweets.csv')

In [3]:
df_tweets.head()

,Unnamed: 0,Id,Username,Text,Date,Hashtags,Location
0,0,1185704921078947845,BrookeLuzziNP,I guess the football gods are sparing me the h...,2019-10-19 23:50:57+00:00,#UKvsUGA #GoDawgs #BeatTheWildcats #poweroutage,NaN
1,1,1185704446615003136,chrispian,"Ok, enough power outage. Mobile hotspot engaged.",2019-10-19 23:49:04+00:00,NaN,NaN
2,2,1185703861186682880,wsbradio,#BREAKING Nestor downs power lines and trees i...,2019-10-19 23:46:44+00:00,#BREAKING,NaN
3,3,1185703678126243840,stephanierauger,Your team is TOP NOTCH! Although I’m still wai...,2019-10-19 23:46:00+00:00,NaN,NaN
4,4,1185703462241210368,fickett_donald,How many electric cars were idled during the p...,2019-10-19 23:45:09+00:00,NaN,NaN

In [5]:
df_tweets['Location']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4995   NaN
4996   NaN
4997   NaN
4998   NaN
4999   NaN
Name: Location, Length: 5000, dtype: float64