# Scraper for Twitter using Tweepy

Package Github: https://github.com/tweepy/tweepy

Package Documentation: https://tweepy.readthedocs.io/en/latest/

### Notebook Author: Martin Beck

In [57]:
# Pip install Tweepy if you don't already have the package
# !pip install tweepy

# Imports
import tweepy
import pandas as pd
import time

%load keys.py

## Credentials and Authorization

In [38]:
# Credentials
consumer_key = "m8rPuAqDoxlp21cqf42OaCVNh"
consumer_secret = "xnXprDHDJXgflYHENr1IrESBxWlZO2nFbaCCKiNuMmZMGltZcK"
access_token = "208399633-4hjnFJvf2NOh0naUbwY3pm6TPpFX0guyH7klZKOH"
access_token_secret = "rQc560zkbo8CdmzUa6g75xD4XwTnsSOHTiNRzOgLMsVjs"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

## Query by Username
Creation of queries using Tweepy API

Function is focused on completing the query then providing a CSV file of that query using pandas

In [5]:
tweets = []

def username_tweets_to_csv(username,count):
    try: 
    # Pulling individual tweets from query
        for tweet in api.user_timeline(id=username, count=count):

            # Adding to list that contains all tweets
            tweets.append((tweet.created_at,tweet.id,tweet.text, tweet.user.location))

            # Creation of dataframe from tweets list
            tweetsdf = pd.DataFrame(tweets,columns=['Datetime', 'Tweet Id', 'Text', 'Location'])

            # Converting dataframe to CSV
            tweetsdf.to_csv('{}-tweets.csv'.format(username)) 

    except BaseException as e:
          print('failed on_status,',str(e))
          time.sleep(3)

## Query by Text Search
Function is focused on completing the query then providing a CSV file of that query using pandas

In [14]:
tweets = []

def text_query_to_csv(text_query, count):
    try:
    # Pulling individual tweets from query
        for tweet in api.search(q=text_query, count=count):

          # Adding to list that contains all tweets
          tweets.append((tweet.created_at,tweet.id,tweet.text,tweet.coordinates,tweet.user.location, tweet.user.geo_enabled))

          # Creation of dataframe from tweets list
          tweetsdf = pd.DataFrame(tweets,columns=['Datetime', 'Tweet Id', 'Text','Coordinates','Location','GeoTagged'])

          # Converting dataframe to CSV
          tweetsdf.to_csv('{}-tweets.csv'.format(text_query)) 

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

In [14]:
# play groundc cell
tweets = []

def search_query(text_query, count):
    for tweet in api.search(q=text_query, count=count):
        tweets.append((tweet.created_at,tweet.id,tweet.text,tweet.coordinates,tweet.user.location, tweet.user.geo_enabled))
        tweetsdf = pd.DataFrame(tweets,columns=['Datetime', 'Tweet Id', 'Text','Coordinates','Location','GeoTagged'])
        tweetsdf.to_csv('{}-tweets.csv'.format(text_query))

In [79]:
test_tweets = []
query = 'obama'
for tweet in api.search(q=query,count=300):
    test_tweets.append((tweet.created_at,tweet.text,tweet.coordinates, tweet.user.location, tweet.places, tweet.user.geo_enabled))
    df_test_tweets = pd.DataFrame(test_tweets, columns=['Datetime', 'Text','Coordinates','Location','Places','GeoTagged'])

AttributeError: 'Status' object has no attribute 'places'

In [78]:
df_test_tweets["Location"].value_counts()

                                  37
United States                      5
California, USA                    2
Georgia, USA                       2
USA                                2
Virginia, USA                      2
Canada                             1
York, Maine                        1
United Kingdom                     1
Lonestar State                     1
Allegheny County                   1
College Station, TX                1
Scottsdale, AZ                     1
Kentucky, USA                      1
Port Harcourt Rivers state Nig     1
Richardson,Texas                   1
US                                 1
La Empat√≠a de las Babosas          1
A^2                                1
Midwest, USA                       1
Exton, PA                          1
Indiana, USA                       1
Tulsa, OK                          1
  Texas                            1
Minnesota, USA                     1
atlanta                            1
Cape Town, South Africa            1
South Daytona, FL                  1
Port St Lucie, FL                  1
Indiana                            1
La Safor                           1
Denver                             1
Harpers Ferry, WV                  1
 Global                            1
Tugela Ferry , South Africa        1
Sarasota, FL                       1
Dallas, TX                         1
Belton, MO                         1
Alberta, Canada                    1
Lexington & Concord                1
Tennessee, USA                     1
Scotland, United Kingdom           1
Virginia                           1
Louisiana, USA                     1
South Carolina, USA                1
Sanctuary and Rollers Warehous     1
LIVE IN AMERICA AND PROUD .        1
North Fort Myers, FL               1
Lives in Virginia works in DC.     1
Oregon City, OR                    1
Manhattan, NY                      1
BC Canada üçÅ                        1
Texas                              1
Connecticut, USA                   1
California                         1
Guwahati, India                    1
Name: Location, dtype: int64

## Query Function Calls
Putting it all together and using functions created.

In [15]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = 'poweroutage'
count = 10_000
# Calling function to query X amount of relevant tweets and create a CSV file
df = text_query_to_csv(text_query, count)

failed on_status, 'NoneType' object is not subscriptable