In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('poweroutage-tweets.csv')

In [12]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Coordinates,Location,GeoTagged
0,0,2020-05-08 00:57:56,1258561739852877824,Reported power outage in several barangays of ...,NaN,Philippines,True
1,1,2020-05-08 00:44:51,1258558446888194048,Philips Hue hættir mjög fljótt að vera töff la...,NaN,NaN,True
2,2,2020-05-07 23:57:01,1258546411940921344,Well there's nothing quite like sitting on you...,NaN,NaN,False
3,3,2020-05-07 23:43:25,1258542987203670016,RT @redcrosscanada: ⚠️Can you live without pow...,NaN,Prince Albert Saskatchewan,False
4,4,2020-05-07 23:41:36,1258542530880090113,#poweroutage #boo,NaN,"Fort Morgan, CO",False

In [18]:
df['Location'].value_counts()

Nashville, TN                     8
Binangonan, Calabarzon            6
Hutchinson, MN                    3
Pueblo, CO                        2
Philippines                       2
                                 ..
Dragon Crest                      1
Texas, USA                        1
Minnesota, USA                    1
สนง.กสทช. 87พหลโยธิน8 กทม10400    1
Jamaica                           1
Name: Location, Length: 62, dtype: int64

In [20]:
df['GeoTagged'].head()

0     True
1     True
2    False
3    False
4    False
Name: GeoTagged, dtype: bool

In [22]:
long, lat = df['Location'][1]

TypeError: cannot unpack non-iterable float object